<!-- loop through the app-task-item component with a property task -->
<!-- the onAddTask event is emitted from the add-task comonent with the event value -->
<!-- the eveent trigger the addTask method and process the passed event -->
<app-add-task
(onAddTask)="addTask($event)"
>
</app-add-task>
<!-- assign the [task] property with task and pass it down to the task-item -->
<!-- the entire project is pass down to the task-item, which could be rendering through task-item -->
<!-- however, to complete the registration, it's mandatory to @input the task property to the task-item.ts -->
<app-task-item 
    *ngFor="let task of tasks"
    [task]="task"
    (onDeleteTask)="deleteTask(task)"
    (onToggleReminder)="toggleReminder(task)"
    >
    
</app-task-item>
